body {
	padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.navbar-brand img {
    float: left;
    height: 25px;
}

#main-jumbotron {
	background: url('bg.png') no-repeat top center;
	background-size: auto auto;
	padding-top: 10%;
}

.jumbotron h1 {
	text-shadow: 2px 2px #fff;
}

#categories {
  padding-top: 50px;
  padding-bottom: 50px;	
}

#categories .panel-body .glyphicon {
	font-size: 50px;
}

#categories .panel {
    border: 2px solid #8e7;
	padding-top: 30px;
    padding-bottom: 20px;
    height: 180px;
}

#categories .panel:hover {
	border-color: #0a4;
    border-width: 4px;
    cursor: pointer;
}

#categories .panel-back {
    display: none;
}

.btn {
	border-radius: 0;
}

.form-control {
	border-radius: 0;
}

.gray-bg {
	background-color: #eee;
}

#plan .panel {
    transition: .4s;
}

#plan .panel:hover {
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.75);
}

#plan .panel-body {
	padding: 0;
}

#plan .panel-body div {
	padding: 20px;
}

section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.panel {
    border-radius: 0;
    padding-top: 30px;
    height: 100%;
}

#upwork-panel {
    border-top: 5px solid green;
}
#upwork-pro-panel {
    border-top: 5px solid red;
}
#upwork-enterprise-panel {
    border-top: 5px solid blue;
}

.row-eq-height {
    display: flex;
}

.page-footer {
    background-color: #444;
    color: white;
    padding-bottom: 20px;
}

.page-footer a {
    color: white;
}
.page-footer a:hover {
    color: white;
    text-decoration: underline;
}

/* Responsive embedded video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#why-join .panel {
    height: 250px;
    transition: .4s;
}
#why-join .panel:hover {
    box-shadow: 2px 2px 10px 2px #ccc;
}

/* For scroll-sensitive navigation */
#main-nav {
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
#main-nav.shrink {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Social buttons */
.fa {
    border-radius: 20px;
    transition: .4s;
    width: 40px;
    padding: 5px 0;
    vertical-align: bottom;
    padding: auto auto;
}
.fa:hover {
    box-shadow: 2px 2px 4px 1px #000;
}
.fa-facebook:hover {
    background: white;
    color: blue;
}
.fa-twitter:hover {
    background: white;
    color: lightblue;
}
.fa-youtube:hover {
    background: white;
    color: red;
}
